#streamlit==1.11.1
#pandas==1.1.1
#numpy==1.21.6
#matplotlib==3.3.1
#pydeck==0.7.1
#python-dotenv==0.20.0
#cv2==4.6.0
#opencv-python-headless==4.5.4.60


streamlit==1.11.1
pandas
numpy
matplotlib
pydeck
python-dotenv
#cv2==4.6.0
opencv-python-headless==4.5.4.60
moviepy
torch
detect 
time 
